#categories{
    display:grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
    margin-bottom: 3rem;
}

.card-category{
    background-color: antiquewhite;
    text-align: center;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card-category:hover{
    transform: translateY(-5px);
}

.card-category-image{
    width: 5rem;
    margin: auto;
}

.card-category-image img{
    width: 100%;
    height: auto;
}