 /* Estilos para el header */
header {
    max-width: 1140px;
    min-width: 320px;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 0 1rem;
}

header img{
    width: 100%;
    height: auto;
}