@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap');

body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #1c1c1c;
}

.font-pixel{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container-logo{
    min-width: 10rem;
    max-width: 15rem;
}

.logo{
    width: 100%;
    height: auto;
}

nav{
    background-color: #83DD99;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.menu ul {
    list-style-type: none;
    display: flex;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #5da66f;
}

@media screen and (max-width: 600px) {
    .menu {
        display: block;
        padding-top: 1rem;
        background-color: #83DD99;
    }

    .menu ul{
        padding: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .menu ul{
        display: block;
    }
}

main{
    max-width: 1140px;
    margin: auto;
    padding: 0 1rem;
}

footer{
    margin-top: 3rem;
    background-color: #333;
    color: white;
    padding: 3rem;
    text-align: center;
}

footer a{
    color: white;
}

footer a:hover{
    color: #F2ECEB;
}