@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pixelify+Sans:wght@400..700&display=swap');

body{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.font-pixel{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container-logo{
    min-width: 5rem;
    max-width: 15rem;
}

.logo{
    width: 100%;
    height: auto;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #83DD99;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu ul li {
    float: left;
}

.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #111; /* Cambio de color de fondo al pasar el cursor */
}

/* Estilos para el campo de búsqueda */
.search-container {
    float: right;
}

input[type=search] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }
    input[type=search] {
        margin-top: 0;
        width: 100%;
    }
}

main{
    max-width: 1140px;
    margin: auto;
    padding: 0 1rem;
}

footer{
    background-color: #333;
    color: white;
    padding: 3rem;
    text-align: center;
}

footer a{
    color: white;
}

footer a:hover{
    color: #F2ECEB;
}